<!--<h1>Blogs#index</h1>  rails19の一覧表示機能について変更した-->
<!--<p>Find me in app/views/blogs/index.html.erb</p>-->

<body>
<h1>つぶやき一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <!--<th>タイトル</th>-->
    <th>内容</th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.content %></td>
    <a><td class="btn"><%= link_to '詳細を確認する', blog_path(blog.id) %></td></a>
    <!--<td><%= link_to "ブログを編集する", edit_blog_path(blog.id) %></td>-->
    <a><td class="btn"><%= link_to "つぶやきを編集する", edit_blog_path(blog.id), data: { confirm: '本当に編集していいですか？' } %></td></a>
        <% # ここに定義する！destroyをビューに設定する %>
    <!--<td><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete %></td>-->
    <a><td class="btn"><%= link_to 'つぶやきを削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td></a>
  </tr>
<% end %>
</table>

<br>

<!--<%= link_to 'ブログ一覧画面にもどる', blogs_path %><br>-->
<%= link_to 'つぶやき新規作成画面へ', new_blog_path %><br>

</body>