<div class="jumbotron">

  <% if logged_in? %>
  
    <button type="button" class="btn btn-info">
        <%= link_to "Profile", user_path(current_user.id) %>
    </button>
    <button type="button" class="btn btn-success">
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    </button>
    <!-- 171212 ログインした後にプロフィール画面からブログに戻れないから追記！！-->
    <button type="button" class="btn btn-warning">
        <%= link_to "blogs", blogs_path(current_user.id) %>
    </button>
  
  <% else %>
  
    <button type="button" class="btn btn-warning">
      <%= link_to "Sign up", new_user_path %>
    </button>
    <button type="button" class="btn btn-warning">
      <%= link_to "Login", new_session_path %>
    </button>
  
  <% end %>

  <div class="container">
    <h1>Sign up</h1>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form_with(model: @user, local: true) do |f| %>  
      <a><%= f.label :name %></a>
      <%= f.text_field :name %>
    
      <a><%= f.label :email %></a>
      <%= f.email_field :email %><br>
    
      <a><%= f.label :password %></a>
      <%= f.password_field :password %>
    
      <a><%= f.label :password_confirmation %></a>
      <%= f.password_field :password_confirmation %><br>
    
      <%= f.submit "Create my account" %>
    <% end %>

  </div>

</div>
